<table class="keyboard">
{{#each rows}}
<tr>{{#each this}}<td>{{this}}</td>{{/each}}</tr>
{{/each}}
<tr><td colspan="2">Del</td><td colspan="2">space</td><td colspan="2">Ok</td></tr>
</table>
</table>