<table class="keyboard">
{{#each rows}}
<tr>{{#each this}}<td>{{this}}</td>{{/each}}</tr>
{{/each}}
<tr class="bottom-keyboard-buttons">
  <td colspan="2">clear</td><td>Del</td><td colspan="2">space</td><td>Ok</td>
</tr>
</table>
</table>