<div class="backButton">&nbsp;</div>
<div class="now-playing-text" style="display:none">Intro to YogaGlo</div>
<div class="yg-logo">&nbsp;</div>
<div id="loadingVideoIndicator"></div>
<div id="hideTrayButton">&nbsp;</div>
<div id="playBackTray">
	<div id="progressBarWrapper">
		<div id="progressBarBack">&nbsp;</div>
		<div id="progressBar">&nbsp;</div>
		<div id="scrubDirection" class="rw">&nbsp;</div>
	</div>
	<div id="timecode">00:00</div>
</div>
	<div id="trickPlayContainer">
		<div class="trickPlayButton stop" ></div>
		<div class="trickPlayButton play " ></div>
		<div class="trickPlayButton pause" ></div>
		<div class="trickPlayButton rewind" ></div>
		<div class="trickPlayButton fastforward"></div>
	</div>

<div class="aboutModal" data-state="videoplayback:about">
	<div class="closeButton">&nbsp;</div>
	<div id="closeButtonInfoText">Info</div>
	<div id="videoInfo" style="display:none;">
		<h2>Ut In Nulla Enim. Phasellus Molestie Magna Non Est Bibendum Non Veneatis Nisl Tempor. Suspendisse Dictum Feugiat Nisl</h2>
		<div class="description">Whether you are new to the posture or interested in exploring its finer details, this tutorail and practice will enhacne your practice of down dog.  You will explore 4 different versions of the posuture, practice key preparations, and learn the fundamental actions of the posture.  Perfect for new students and teachers!</div>
	</div>
</div>

<div id="expiredModal" data-state="videoplayback:expired">
	<div id="joinYogaGlowButton">&nbsp;</div>
	<div id="continueBrowsingButton">&nbsp;</div>
</div>