<div id="landing">
  
  <img id="vignette" src="images/vignette.png" />
  <div id="loadingVideoIndicator">
    <img id="splash" src="images/logo-splash.png">
    <div id="loading-text">Now Loading</div>
    <div id="fadingBarsG" class="splash">
      <div id="fadingBarsG_1" class="fadingBarsG"></div>
      <div id="fadingBarsG_2" class="fadingBarsG"></div>
      <div id="fadingBarsG_3" class="fadingBarsG"></div>
      <div id="fadingBarsG_4" class="fadingBarsG"></div>
      <div id="fadingBarsG_5" class="fadingBarsG"></div>
      <div id="fadingBarsG_6" class="fadingBarsG"></div>
      <div id="fadingBarsG_7" class="fadingBarsG"></div>
      <div id="fadingBarsG_8" class="fadingBarsG"></div>
    </div>
  </div>
  
  <div id="searchTermBox">
   <span class="label"></span><span class="term"></span>
  </div>
  <div id="searchMenu">
      <div id="searchTermWrap"><input type="text" id="searchterm" tabindex="-1"></input></div>
      <div id="keyboard"></div>
  </div>
  <div id="gridMenuHolder">
    <div id="gridMenuContainer" data-state="landing subcat search"></div>
    <div id="gridTopRowOverlay" class="gridArrowOverlay"><div id="rowUpButton">&nbsp;</div></div>
    <div id="gridBottomRowOverlay" class="gridArrowOverlay"><div id="rowDownButton">&nbsp;</div></div>
  </div>
  <div id="gridHTML">
    <div id="gridArrow" class="left"><img src="images/grid-arrow.png"></div>
    <div class="title"></div>
    <div class="trt"></div>
    <span class="description"></span>
  </div>
  
  
  <div id="logo"><img src="images/newsmax-logo.png" width="238" height="40"></div>
  
  <div id="subMenuHolder">
    <div id="subMenuHeightConstraint">
      <ul id="subMenu"></ul>
    </div>
    <div id="subMenuBackTarget"><div id="menuLeftButton">&nbsp;</div></div>
    <div id="subMenuUpTarget"><div id="menuUpButton">&nbsp;</div></div>
    <div id="subMenuDownTarget"><div id="menuDownButton">&nbsp;</div></div>
  </div>
  
    
    <ul id="mainMenu"></ul>
  
  <div id="mainMenuObscure"></div>
  
</div>
