
<div id="landing">
  <img id="vignette" src="images/vignette.png" />
  <img id="logo" src="images/newsmax-logo.png"/>
  <div id="loadingVideoIndicator">
    <img id="splash" src="images/logo-splash.png">
    <div id="loading-text">Now Loading</div>
  </div>
  <div id="searchMenu">
      <div id="searchTermWrap"><input type="text" id="searchterm"></input></div>
      <div id="keyboard"></div>
  </div>
  <ul id="subMenu">
  </ul>
  <ul id="mainMenu">
  </ul>

  <div id="gridMenuContainer" data-state="landing subcat search"></div>
  <div id="gridHTML">
    <div id="gridArrow" class="left"><img src="images/grid-arrow.png"></div>
  	<span class="title">Title:</span>
  	<span class="description">Description:</span>
  </div>
</div>
