<div class="backButton">&nbsp;</div>
<div id="hideTrayButton">&nbsp;</div>
<div id="playBackTray">
  <div id="trickPlayContainer">
    <div class="trickPlayButton stop" ></div>
    <div class="trickPlayButton play " ></div>
    <div class="trickPlayButton pause" ></div>
    <div class="trickPlayButton rewind" ></div>
    <div class="trickPlayButton fastforward"></div>
  </div>
  
  <div id="progressBarWrapper">
    <div id="progressBarBack">&nbsp;</div>
    <div id="progressBar">&nbsp;</div>
    <div id="scrubDirection" class="rw">&nbsp;</div>
  </div>
  <div id="timecode">00:00</div>
  <div id="vinfo">
    <span id="vtitle"></span>
    <span id="vdescription"></span>
  </div>
  
</div>
<div id="circularG">
  <div id="circularG_1" class="circularG"></div>
  <div id="circularG_2" class="circularG"></div>
  <div id="circularG_3" class="circularG"></div>
  <div id="circularG_4" class="circularG"></div>
  <div id="circularG_5" class="circularG"></div>
  <div id="circularG_6" class="circularG"></div>
  <div id="circularG_7" class="circularG"></div>
  <div id="circularG_8" class="circularG"></div>
</div>
