@import '../vendor/font-awesome/scss/font-awesome';

@font-face
{
font-family: HelveticaNeue;
src: url(../fonts/HelveticaNeue.ttf);
}

@font-face
{
font-family: HelveticaNeueBold;
src: url(../fonts/HelveticaNeueBold.ttf);
}

@mixin button{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#c9c9c9));
}
@mixin buttonhover{
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7a2a), color-stop(100%,#ff7a2a));
}

body{}

#wrapper{
	display:block;
}
#wrapper.mainwrapper{
	background: url(../images/background.png) no-repeat;
}
#wrapper.video{
	background:transparent;
}

#logo{
  position: absolute;
  top: 58px;
  left: 1110px;
  z-index: 99;
  width:124px;
  height:34px;
  background:url(../images/yg-logo-colored2.png);
}


.yg-logo{
	position:absolute;
	top:100px; right:100px;
	width:124px; height:34px;
	background: url(../images/yg-logo.png) top left no-repeat;
}

#vignette{
	background:url(../images/combo-vignette.png) top left no-repeat;
	position:absolute;
	width:1280px; height:720px;
}

.backButton{
	position:absolute;
  top:50px; left:49px;
	width:47px; height:53px;
  @include button;
  
  &:before{
    position: absolute;
    top: 17px; left: 20px;
    content: "\f053";
  }
  
  &.focused{
    @include buttonhover;
  }
}

#playBackTray{
	position:absolute; bottom:0px; left:0px;
	width:1280px; height:140px;
	background:url(../images/playback-tray.png) no-repeat top left;
}

#hideTrayButton{
	position:absolute; bottom:130px; right:48px;
	width:69px; height:59px;
  @include button;
  
  &:before{
    position: absolute;
    top: 17px; left: 20px;
    content: "\f078";
  }
  &.focused{
    @include buttonhover;
  }
}

#progressBarWrapper{
	position:absolute;
	left:51px; top:23px;
}

#progressBarBack{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1129px;
	height: 10px;
	background-color: #cacccc;
}
#progressBar{
	position:absolute;
	top:0px; left:0px;
	width:400px; height:10px;
	background:#69747a;
}
#timecode{
	font: 19px HelveticaNeue;
	color:#69747a;
	position:absolute;
	bottom:101px;
	left:1196px;
}

#trickPlayContainer{
	position:absolute;
	bottom:32px; left:393px;

}

.trickPlayButton{
	float:left;
	width:62px; height:53px;
	background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  float: left;
  @include button;
  
  &:before{
    position: absolute;
    top: 17px; left: 20px;
  }
  &.stop:before{
    content: "\f04d";
  }

  &.play:before{
  	content: "\f04b";
  }

  &.pause:before{
  	content: "\f04c";
  }

  &.rewind:before{
  	content: "\f04a";
  }

  &.fastforward:before{
  	content: "\f04e";
  }

  &.focused{
    @include buttonhover;
  }
}

/*new*/
#videoInfo{
	position:absolute;
	top:558px; left:49px;
	color:white;
	font-family: HelveticaNeue;
	font-size: 19px;
	width:1000px;
  
  h2{
  	font-size: 23px;
  	font-weight:bold;
  	position:absolute;
  	display:block;
  	top:0px; left:0px;
  }
  
  .description{
  	position:absolute; top:72px; left:0px; 
  	width: 845px;
  	line-height:23px;
  }
  
}

.now-playing-text{
	position:absolute;
	left:109px; top:64px;
	color:#535c61;
	font: 20px HelveticaNeue;
	font-weight:bold;
}

#loadingVideoIndicator{
  position:absolute;
  top:0px; left:0px;
  width:1280px; height:720px;
  background:rgb(202,222,233);
  z-index:100;
}

#loadingDots{
  font-size: 38pt;
  position: absolute;
  left: -42px;
  top: 373px;
}

#videoInfoButton{
	position:absolute;
	left:319px;
	width:128px; height:53px;
	background:url(../images/video-infobutton-sprite.png) no-repeat;
	background-position: 0px 0px;
  &.focused{
    background-position: -128px 0px;
  }
}

.closeButton{
	position: absolute; 
	top:50px; left:49px;
	width:47px; height:53px;
	background:url(../images/close-playback-sprite.png) no-repeat top left;
	background-position: 0px 0px;
  
  &.focused{
    background-position:-47px 0px;
  }
}

#errorModal{
	position:absolute;
	z-index:100;
	width:1280px; height:720px;
	background:url(../images/error-modal.jpg) no-repeat top left;
	visibility:hidden;
}
#networkErrorModal{
	position:absolute;
	z-index:100;
	width:1280px; height:720px;
	background:url(../images/network-disconnected.jpg) no-repeat top left;
	visibility:hidden;
}

#scrubDirection{
    width:67px;
    height:47px;
    background:blue;
    position:absolute;
    bottom:2px;
    left:-33px;
    display:none;
    &.ff{
      background: url(../images/ff-bubble.png) no-repeat top left;   
    }
    &.rw{
      background: url(../images/rw-bubble.png) no-repeat top left;   
    }
}

.closeButtonText{
	position:absolute;
	top:63px; left:108px;
	font: 20px HelveticaNeue;
	font-weight:bold;
	color: #535c61;
}
