@import '../vendor/font-awesome/scss/font-awesome';
@import 'colors';

@font-face
{
font-family: HelveticaNeueLight;
src: url(../fonts/HelveticaNeueLight.ttf);
}

@mixin button {
  font-family: FontAwesome;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  color: $tvwhite;
  background-color: $gray;
}
@mixin buttonhover {
  color: $tvwhite;
  background-color: $red !important;
}
@mixin buttonselected {
  background-color: #999;
}
@mixin menubg {
  /*background: rgba(45,91,169, 0.95);*/
  background: url(../images/menu-bg.png) no-repeat center top;
  box-shadow: 10px 0px 8px rgba(00,00,00,0.25);
}
@mixin outerglow {
  box-shadow: 0px 0px 10px rgba(00,00,00,0.25);
}
@mixin silvergradient {
  background: -webkit-linear-gradient(top, rgba(239,239,239,0.9) 0%, rgba(204,204,203, 0.9) 81%, rgba(154,155,159, 0.9) 100%);
}

body{
  font-family: HelveticaNeueLight, Helvetica, Arial, sans-serif;
}

#errormodal{
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 720px;
  width: 1280px;
  z-index: 1000;
  background-color: rgba(225,225,225, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  
  #errorInner{
    background-color: $nblue;
    position: absolute; top: 170px; left: 300px;
    color: #e8e8e7; width: 650px;
    padding: 30px 50px;
    box-shadow: 7px 7px 5px rgba(00, 00, 00, 0.75);
    
    h1{
      padding-left: 70px;
      font-weight: bold;
      height: 50px;
      margin-bottom: 15px;
      line-height: 2.5em;
      background: url(../images/alert.png) no-repeat top left;
    }
    span{ margin-left: 70px;}
    
    #buttonBar{
      clear: both;
      width: 100%;
      padding-top: 20px;
      
      .errorButton{
        background-color: #e8e8e7;
        @include outerglow;
        color: $dark;
        display: block;
        width: 100px;
        text-align: center;
        padding: 5px 15px;
        margin: 0px auto;
      }
    }
    
  }
}


#loadingVideoIndicator{
  position:absolute;
  top:0px; left:0px;
  width:1280px; height:720px;
  background: -webkit-radial-gradient(center, ellipse cover, #dde0e7 1%,#b6cadb 100%);
  z-index:100;
  #splash{
    position: absolute; top: 250px; left: 185px;
  }
  #loading-text{
    font-size: 36px;
    position: absolute; top: 450px; left: 535px;
  }
}

#mainMenu {
  @include menubg;
  height: 690px; 
  padding-top: 100px; 
  position:absolute; left: 0; top: 0;
  width: 325px;
}

#mainMenuObscure{
    display: none;
    position: absolute;
    top: 0px; left: 0px;
    height: 100%;
    width: 50px;
}

#subMenuHolder {
  @include menubg;
  position: absolute;
  top:0px; left: -280px;
  height: 690px;
  overflow: hidden;
  padding-top: 100px;
  width: 325px;
  
  #subMenuHeightConstraint{
      height: 526px;
      overflow: hidden;
      position: relative;
  }
  
}

#logo {
  position: absolute;
  z-index: 99999;
  top: 32px;
  left: 975px;
  width: 238px; height: 40px;
  display: none;
}
#subMenuBackTarget{
    position: absolute; top: 5px; left: -15px;
    width: 60px; height: 130px; display:none;
    &:hover div{ color: $menuTextBlue !important; };
    
    #menuLeftButton{
        position: absolute;
        top: 40px; left: 20px;
        @include button;
        font-size: 36px;
        background: none !important;
        
        &:before{
            position: absolute;
            top: 0px; left: 0px;
            content: "\f053";
        };
    }
}
#subMenuUpTarget, #subMenuDownTarget {
    display: none;
    position: absolute; 
    top: 0px; left: 50px;
    width: 225px; 
    height: 80px;
    &:hover div{
        color: $menuTextBlue !important;
    };
}
#subMenuDownTarget{
    top: 637px;
}
#menuUpButton, #menuDownButton{
    position: absolute; top: 40px; left: 105px;
    width: 115px; height: 40px;
    @include button;
    font-size: 36px;
    background: none !important;
  
    &:before{
      position: absolute;
      top: 0px; left: -10px;
      content: "\f077";
    }
  
    &.focused{
      @include buttonhover;
    }
}
#menuDownButton{
    top: 0px;
    &:before{
      content: "\f078";
    }
}

*:focus {
   outline: none;
}
#searchMenu {
  position: absolute; top: 50px;
  width: 483px; height: 435px; opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  color: $dark;
  @include silvergradient;
  @include outerglow;
   
  table { 
    width: 90%; 
    position: absolute; 
    left: 25px; }
  td {
    height: 35px; line-height: 35px; width: 50px; text-align: center; padding-top: 5px;
    
    &.focused {
      background: $nblue;
      color: $tvwhite;
    }
  }
  tr.bottom-keyboard-buttons td{
    text-transform: lowercase;
    background-color: $gray;
    color: $tvwhite;
    border: 5px solid transparent;
    &.focused{
      background-color: $nblue;
    }
  }
  #searchTermWrap {
      border-bottom: 2px solid $dark; margin-bottom: 5px; 
      height: 50px;
  }
  #searchterm {
    font-family: Helvetica, Arial, sans-serif;
    width: 90%; outline: 0; color: $dark; background-color: transparent;
    height: 40px;
    text-transform: uppercase;
    position: absolute; top: 10px; left: 5%;
    margin-bottom: 24px; font-size: 24px; border: 0;
    text-align: left;
  }
}
ul#subMenu{
    position: absolute; top: 0; left: 0;
}
#mainMenu li, #subMenu li {
  width: 279px;
  text-align:right;
  padding: 13px 20px 7px 30px; 
  color: $tvwhite;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 25px;
  position: relative;
  
  &.sm-focused {
    background: $red;
    color: $tvwhite;
    font: Helvetica;
  }
  &.selected {
    border-bottom: 2px solid transparent;
    color:$tvwhite;
    font: Helvetica;
    font-weight: bold;
    &:before{
      font-family: FontAwesome;
      font-size: 26px;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      top: 15px; left: 10px;
      content: "\f054";
    }
  }
}
#mainMenu li{ width: 276px; } 

#searchTermBox{
  display: none;
  position: absolute; top: 63px; left: 385px;
  width: 540px; height: 18px;
  color: $dark;
  text-transform: uppercase;
  background: rgba(205, 205, 205, 0.9);
  padding: 10px;
  
}
#gridMenuHolder{
  // @include silvergradient;
  display: none;
  position: absolute;
  background: url(../images/map.jpg) no-repeat top center;
  top: 100px; left: 385px;
  width: 820px; height: 520px;
  padding: 0 10px;
  overflow: hidden;
  border: 1px solid #cccccb;
  
  #gridMenuContainer {
    position: absolute;
    top: 10px;
    display: block;
  
    ul { 
      display: table; 
      &.currentRow{
        margin-bottom: 130px;
      }
      width:100%;

    }
    li.gridItem {
      float: left;
      border: 2px solid transparent;
      margin-bottom: 5px;
      margin-right: 3px;
    
      img {
        width: 197px;
        height: 110px;
        border: 1px solid #58595b;
        opacity:0.7;
      }
      &.focused img {
        @include outerglow;
        border: 1px solid $red;
        opacity:1;
      }
    }
  }
  
  #gridTopRowOverlay, #gridBottomRowOverlay{
      display: none;
      width: 860px;
      height: 125px;
      position: absolute; top: 7px; left: 0px;
      background: rgba(49, 89, 161, 0.3);
  }
  #gridBottomRowOverlay{
      top: 392px;
  }
  #rowDownButton, #rowUpButton{
      position: absolute; top: 45px; left: 375px;
      width: 115px; height: 40px;
      @include button;
      @include outerglow;
      background-color: $nblue;
      font-size: 36px;
      
      &:before{
        position: absolute;
        top: 0px; left: 42px;
        content: "\f077";
      }
      
      &.focused{
        @include buttonhover;
      }
  }
  #rowDownButton{
      &:before{
        content: "\f078";
      }
  }
}

#gridHTML {
  @include outerglow;
  display: none;
  position: absolute;
  top: 365px; left: 405px;
  width: 785px; height: 108px;
  color: $dark;
  padding: 10px;
  font-size: 18px;
  background-color: $silver;
  font-family: Helvetica, Arial, sans-serif;
  
  #gridArrow{
    position: absolute;
    top: -26px;
    &.left{
      left: 70px;
    }
    &.middle-left{
      left: 275px;
    }
    &.middle-right{
      left: 480px;
    }
    &.right{
      left: 685px;
    }
  }
  span{ 
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    line-height: 1.2em;
    height: 88px; width: 780px;
  }
  .title{
    font-weight: bold;
    width: 720px;
    overflow: hidden;
    display: inline-block; 
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .trt{
    position: absolute;
    top: 10px;
    right: 8px;
    width: 10%;
    text-align: right;
  }
}

.backButton {
	position:absolute;
  top:50px; left:49px;
	width:55px; height:55px;
  @include button;
  font-size: 36px;
  
  &:before {
    position: absolute;
    top: 10px; left: 13px;
    content: "\f053";
  }
  
  &.focused{
    @include buttonhover;
  }
}

#hideTrayButton{
  position: absolute; bottom: 205px; right: 48px;
  width: 55px; height: 55px;
  @include button;
  font-size: 36px;
  
  &:before{
    position: absolute;
    top: 10px; left: 10px;
    content: "\f078";
  }
  &.focused{
    @include buttonhover;
  }
}

#playBackTray{
  @include silvergradient;
  @include outerglow;
  position:absolute; bottom:0px; left:0px;
  width:1280px; height:205px;

  #progressBarWrapper{
    position:absolute;
    left: 51px; top: 90px;
    #progressBarBack{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1029px;
      height: 10px;
      background-color: #e1e2e3;
      @include outerglow;
    }
    #progressBar{
      position:absolute;
      top:0px; left:0px;
      width:0px; height:10px;
      background:#2F5CA9;
    }
  }
  #vinfo{
    position: absolute;
    width: 1172px;
    font-family: Helvetica, Arial, sans-serif;
    left: 50px;
    top: 120px;
    font-size: 18px;
    
    #vtitle{
      font-weight: bold;
      display: block;
    }
    #vdescription{
      clear: both;
      display: block;
    }
  }
  
  #timecode{
    font-size: 18px;
    color: $dark;
    position:absolute;
    bottom:99px;
    left:1090px;
    font-family: Helvetica, Arial, sans-serif;
  }

  #trickPlayContainer{
    @include outerglow;
    position: absolute;
    top: 20px; left: 452px;

    .trickPlayButton{
      float: left;
      width: 62px; height: 55px;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      float: left;
      border-right: 1px solid #555;
      @include button;
  
      &:before{
        position: absolute;
        top: 15px; left: 20px;
      }
      &.stop:before{
        content: "\f04d";
      }
      &.play:before{
      	content: "\f04b";
      }
      &.pause:before{
      	content: "\f04c";
      }
      &.rewind:before{
      	content: "\f04a";
      }
      &.fastforward {
        border-right: none;
      }
      &.fastforward:before{
      	content: "\f04e";
      }
      &.focused{
        @include buttonhover;
      }
      &.selected{
        @include buttonselected;
      }
    }
  }
}



#videoInfo{
  position:absolute;
  top:558px; left:49px;
  color:white;
  font-family: HelveticaNeue;
  font-size: 19px;
  width:1000px;
  
  h2{
    font-size: 23px;
    font-weight:bold;
    position:absolute;
    display:block;
    top:0px; left:0px;
  }
  
  .description{
    position:absolute; top:72px; left:0px; 
    width: 845px;
    line-height:23px;
  }
  
}


#networkErrorModal{
  position:absolute;
  z-index:100;
  width:1280px; height:720px;
  background:url(../images/network-disconnected.jpg) no-repeat top left;
  visibility:hidden;
}

#scrubDirection{
  width:67px;
  height:47px;
  background:blue;
  position:absolute;
  bottom:2px;
  left:-33px;
  display:none;
  &.ff{
    background: url(../images/ff-bubble.png) no-repeat top left;   
  }
  &.rw{
    background: url(../images/rw-bubble.png) no-repeat top left;   
  }
}

.closeButtonText{
  position:absolute;
  top:63px; left:108px;
  font: 20px HelveticaNeue;
  font-weight:bold;
  color: #535c61;
}



/* CSS LOADING ANIMATIONS */
#fadingBarsG{
  position:relative;
  width:149px;
  height:18px;
  z-index: 999;
  top: 500px;
  left: 560px;
}

.fadingBarsG{
  position:absolute;
  top:0;
  background-color:#af2827;
  width:18px;
  height:18px;
  -webkit-animation-name:bounce_fadingBarsG;
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(.3);
  -o-animation-name:bounce_fadingBarsG;
  -o-animation-duration:1.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(.3);
  animation-name:bounce_fadingBarsG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(.3);
}

#fadingBarsG_1{
  left:0;
  -webkit-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  animation-delay:0.52s;
}

#fadingBarsG_2{
  left:19px;
  -webkit-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  animation-delay:0.65s;
}

#fadingBarsG_3{
  left:37px;
  -webkit-animation-delay:0.78s;
  -o-animation-delay:0.78s;
  animation-delay:0.78s;
}

#fadingBarsG_4{
  left:56px;
  -webkit-animation-delay:0.91s;
  -o-animation-delay:0.91s;
  animation-delay:0.91s;
}

#fadingBarsG_5{
  left:75px;
  -webkit-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  animation-delay:1.04s;
}

#fadingBarsG_6{
  left:93px;
  -webkit-animation-delay:1.17s;
  -o-animation-delay:1.17s;
  animation-delay:1.17s;
}

#fadingBarsG_7{
  left:112px;
  -webkit-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay:1.3s;
}

#fadingBarsG_8{
  left:130px;
  -webkit-animation-delay:1.43s;
  -o-animation-delay:1.43s;
  animation-delay:1.43s;
}

@-webkit-keyframes bounce_fadingBarsG{
  0%{
    -webkit-transform:scale(1);
    background-color:#af2827;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:#af2827;
  }

}

@-o-keyframes bounce_fadingBarsG{
  0%{
    -o-transform:scale(1);
    background-color:#af2827;
  }

  100%{
    -o-transform:scale(.3);
    background-color:#af2827;
  }

}

@keyframes bounce_fadingBarsG{
  0%{
    transform:scale(1);
    background-color:#af2827;
  }

  100%{
    transform:scale(.3);
    background-color:#af2827;
  }

}

#vignette {
  background: url(../images/vignette.png) top left no-repeat;
  position: absolute;
  width: 1280px;
  height: 720px; 
}

#circularG{
  position:relative;
  width:175px;
  height:175px;
  top: 260px;
  left: 600px;
  display: none;
}

.circularG{
  position:absolute;
  background-color:#66A2D6;
  width:40px;
  height:40px;
  -webkit-border-radius:27px;
  -webkit-animation-name:bounce_circularG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -o-border-radius:27px;
  -o-animation-name:bounce_circularG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:27px;
  animation-name:bounce_circularG;
  animation-duration:1.04s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#circularG_1{
  left:0;
  top:69px;
  -webkit-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  animation-delay:0.39s;
}

#circularG_2{
  left:19px;
  top:19px;
  -webkit-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  animation-delay:0.52s;
}

#circularG_3{
  top:0;
  left:69px;
  -webkit-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  animation-delay:0.65s;
}

#circularG_4{
  right:19px;
  top:19px;
  -webkit-animation-delay:0.78s;
  -o-animation-delay:0.78s;
  animation-delay:0.78s;
}

#circularG_5{
  right:0;
  top:69px;
  -webkit-animation-delay:0.91s;
  -o-animation-delay:0.91s;
  animation-delay:0.91s;
}

#circularG_6{
  right:19px;
  bottom:19px;
  -webkit-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  animation-delay:1.04s;
}

#circularG_7{
  left:69px;
  bottom:0;
  -webkit-animation-delay:1.17s;
  -o-animation-delay:1.17s;
  animation-delay:1.17s;
}

#circularG_8{
  left:19px;
  bottom:19px;
  -webkit-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay:1.3s;
}

@-webkit-keyframes bounce_circularG{
  0%{
  -webkit-transform:scale(1)}

  100%{
  -webkit-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
  0%{
  -o-transform:scale(1)}

  100%{
  -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
  0%{
  transform:scale(1)}

  100%{
  transform:scale(.3)}

}