html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

$dark: #000;
$light: #fff;
$nblue: #4380c2;
$tvwhite: #e1e1e1;
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
    font-family: Sans-Serif;
    background: $light center top no-repeat;
    overflow:hidden;
    color: $dark;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
a {
    text-decoration: none;
}
#pluginTVMW {
    z-index: 0;
}
#landingPage {
    z-index: 5;
}
#pluginPlayer {
    z-index: 0;
}


body {
  height: 720px;
  width: 1280px;
  overflow: hidden;
  font-size: 20px;
}
#videotag, #videotag > video {
    position: absolute; top: 0; left: 0; width: 1280px; height: 720px;
}

#innerBody {
  position: absolute; top: 0; left: 0;
  width: 1280px; height: 720px;
}

#wrapper {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  height: 720px;
  width: 1280px;
  z-index: 100;
  color: $dark; background: rgba(0,255,0,0.2);
}


#mainMenu {
  height: 720px; background: rgba(0,0,0,0.8); width: 200px;
  padding-top: 50px;
}
#mainMenu li, #subMenu li{
  width: 150px;
  border-bottom:1px rgba(255,255,255,0.3) solid;
  text-align:right;
  padding: 15px 20px 15px 30px; color: white;
}

#mainMenu li:last-child, #subMenu li:last-child {
  border-bottom: none;
}
#mainMenu li.focused, #subMenu li.focused{
  background:$nblue;
  color:$tvwhite;
}

#mainMenu li.selected, #subMenu li.selected{
  background:rgba(255,255,255,0.1);
  color:$tvwhite;
}

#subMenu{
  position:absolute;
  top:0px; left:200px;
  background: rgba(0,0,0,0.6);
  height: 720px;padding-top: 50px;
}

#gridMenuContainer{
  position:absolute;
  top:0px; left:403px;
  width:875px;
}

#gridMenuContainer li{
  float:left;
  border:2px solid transparent;
}
#gridMenuContainer li.focused{
  border:2px solid red;
}
#gridHTML{
position: absolute;
top: 476px;
left: 400px;
width: 819px;
height: 222px;
background: rgba(0,0,0,0.8);
color: #e1e1e1;
opacity: .7;
padding-top: 20px;
}

#gridHTML .title{
  margin-top: 52px;
  margin-left: 20px;
}