<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".hbs" mimeType="text/x-handlebars-template" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://www.nmax.tv" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
